body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* font-family: monospace, sans-serif; */
    box-sizing: border-box;
  }

#logo {
    margin-right: 40px;
  }

.socialmedia {
    padding: 10px;
    }

.social-media {
        display: inline-flex;
    }
    
.social-media img {
        padding: 1.5px;
        border-radius: 30px;
    }

.hero-write-up {
        margin-top: 3%;
        margin-bottom: 3%;
      }

.hero-write-up-cont{
        position: relative;
      }

.hero-write-up-cont-wordings {
        position: absolute;
        top: 180px;
        left: 10%;
        width: 50%;
        background-color: rgb(233, 222, 222);
        padding: 20px;
        z-index: 1;
      }
    
      @media screen and (max-width: 992px) {
        .hero-write-up-cont-wordings {
          width: 100%;
          left: 0%;
          top: 150px;
        }
      }
    
      .hero-write-up-cont-wordings h2 {
        font-size: 25px;
        font-weight: 900;
        text-transform: uppercase;
      }
      .hero-write-up-cont-wordings p {
        font-size: 20px;
        font-weight: 700;
      }

      #about-our-company {
        margin: 20px;
        padding-top: 70px;
      }
  
      @media screen and (max-width: 992px) {
        #about-our-company {
          margin: 5px;
          padding-top: 10px;
        }
      }

      .expertise {
        background-image: url(about-us-1536x609.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }

      #expertise {
        text-align: center;
        color: white;
      }

      .expertise-destcription {
        text-align: center;
        font-size: 23px;
        color: white;
      }

      @media screen and (max-width: 992px) {
        .expertise-destcription {
        text-align: center;
        font-size: 23px;
        color: white;
        }
      }

      .expertise-destcription-type {
        font-weight: 700;
        color: white;
      }

      @media screen and (max-width: 992px) {
        .expertise-destcription-type {
        color: white;
        font-weight: 700;
        }
      }

    .expertise-destcription-type-destcription {
        font-weight: 400;
        color: white;
      }
      @media screen and (max-width: 992px) {
        .expertise-destcription-type-destcription {
        color: white;
        font-weight: 400;
        }
      }

    .projects-completed-cont {
        background-color: black;
        margin-top: -40px;
      }
  
      @media screen and (max-width: 992px) {
        .projects-completed-cont {
          background-color: white;
          margin-top: -40px;
        }
      }

      .projects-completed-cont-tittle {
        font-weight: 700;
        padding-top: 30px;
        color: white;
        text-align: center;
      }
  
      @media screen and (max-width: 992px) {
        .projects-completed-cont-tittle {
        font-weight: 700;
        margin-top: -60px;
        color: black;
        text-align: center;
        }
      }

      .projects-completed-cont-tittle-description {
        text-align: center;
        color: white;
      }
  
      @media screen and (max-width: 992px) {
        .projects-completed-cont-tittle-description {
        color: black;
        text-align: center;
        }
      }

      .projects-completed-img-cont {
        text-align: center;
        /* background-color: #f7c4d9; */
        padding: 10px;
      }

      .projects-completed-img {
        width:100%;
        height: 250px;
        /* border-radius: 100px; */
      }
      .contact-cont {
        padding: 20px;
        background-image: url(Homepage.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
      @media screen and (max-width: 992px) {
        .contact-cont {
        padding: 10px;
        }

      #contact-cont-bg {
        background-color: black;
        opacity: 0.9;
        color: white;
        text-align: center;
      }

      .contact-cont-bg-dc {
        padding: 50px;
      }
     
     @media screen and (max-width: 992px) {
        .contact-cont-bg-dc {
        padding: 10px;
        }

      .footer-cont {
        padding-top: 30px;
      }

      .bottom-nav-cont{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }

    .bottom-nav-cont-icons {
        width:40px;
        height: 40px;
        border-radius: 50px;
      }

      .footer-nav ul a {
        text-decoration: none;
        color: black;
      }
      
      .footer-nav{
        padding-left: 100px;
      }
      
      @media screen and (max-width: 992px) {
        .footer-nav {
          padding-left: 10px;
        }
      }

      .live-chat-handle {
        width:70px;
        height: 70px;
        border-radius: 50px;
        position: fixed;
        bottom: 40px;
        right: 15px;
        z-index: 10;
      }

      .about-us {
        margin-top: 20px;
      }

      .mandate {
        padding: 10px;
        margin-top: 20px;
      }

      .mandate-dc {
          text-align: justify;
      }

      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 190px; 
        height: 45px;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }

      .contact-top-const {
        background-image: url(banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 120px;
      }

      .contact-top-const-w {
        position: absolute;
        left: 10%;
        top: 65px;
        margin-top: 15px;
        padding: 20px;
        color: white;
      }

      .about-us {
          margin-top: 30px;
      }

      .lg-png-dc {
        font-size: larger;
      }

      .lg-png-cont {
        padding-top: 30px;
      }

      .lg-png-cont1 {
        padding-top: 30px;
      }

      .lg-png {
          width: 100%;
          height: 300px;
      }

      .drone-mp-cont {
        background-image: url(banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 210px;
      }

      @media screen and (max-width: 992px) {
        .drone-mp-cont {
            background-image: url(banner.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 405px;
        }
      }

      .drone-mp-cont-h {
        position: absolute;
        left: 10%;
        top: 65px;
        margin-top: 15px;
        padding: 20px;
        color: white;
      }

      .drone-mp-cont-p {
        position: absolute;
        left: 10%;
        top: 130px;
        margin-top: 10px;
        padding: 20px;
        color: white;
      }

      .lg-png-cont-h {
          text-align: center;
      }

      .crm {
        padding: 10px;
        font-size: larger;
      }

      .crm-c {
        padding: 20px;
      }

      .geospatial-intelligence-cont {
        background-image: url(banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
      }

      @media screen and (max-width: 992px) {
        .geospatial-intelligence-cont {
            background-image: url(banner.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 410px;
        }
      }

      .geospatial-intelligence-cont-h {
        position: absolute;
        left: 10%;
        top: 65px;
        margin-top: 15px;
        padding: 20px;
        color: white;
      }

      .geospatial-intelligence-cont-p {
        position: absolute;
        left: 10%;
        top: 125px;
        margin-top: 5px;
        padding: 20px;
        color: white;
      }

      .lsdpp {
        padding: 10px;
        font-size: larger;
      }

      .lsdppc {
        padding-top: 30px;
      }

      .spatial-data-analytics-modelling-cont {
        background-image: url(banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 180px;
      }

      @media screen and (max-width: 992px) {
        .spatial-data-analytics-modelling-cont {
            background-image: url(banner.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 250px;
        }
      }

      .spatial-data-analytics-modelling-h {
        position: absolute;
        left: 10%;
        top: 65px;
        margin-top: 15px;
        padding: 20px;
        color: white;
      }

      .spatial-data-analytics-modelling-p {
        position: absolute;
        left: 10%;
        top: 120px;
        margin-top: 5px;
        padding: 20px;
        color: white;
      }

